<h1>Welcome to ODC Induction</h1>

<% if @user.present? %>
	<div class="form-signin">
		<h2>Change Your Password</h2>
		<%= form_for @user, url: user_path(@user), method: :patch do %>
		  <%= label_tag "Enter Password" %><br />
		  <%= password_field_tag :password %>
		  <%= label_tag "Confirm Password" %><br />
		  <%= password_field_tag :confirm_password %>
		  <div class="buttons">
		  	<%= submit_tag "Save" , class: 'btn btn-primary'%>
		  </div>
		<% end %>
	</div>
<% else %>
	<div >
		<h1>Your one time login link has expired or you have clicked on an invalid link.</h1>
	</div>
<% end %>